<!-- my-template.component.html -->

<!-- Navbar -->
<header>


<nav class="navbar navbar-expand-lg navbar-light bg-primary">
 
    <img class="img1" src="/assets/LOGO.jpg" alt="Logo"> <span style="color: azure; font-size: x-large; font-weight: 500;">INDU TILES</span> 
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="['/bedroom']">Bedroom</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="['/bathroom']">Bathroom</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="['/kitchen']">Kitchen</a>
      </li>

      
    </ul>
  </div>
</nav>

</header>


<main>
 
  <img  class="img2" src="assets/3d-rendering-loft-luxury-living-room-with-bookshelf-near-bookshelf.jpg" alt="Description of the image">

 

</main>


<footer>
  <p>&copy; 2024 Global Infocloud. All rights reserved.</p>
</footer>
